.game-card{
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 450px;
    height: 250px;
    border: 1px greenyellow solid;
    background-image: url(./assets/mario.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;
    font-size: large;
}

#game-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.card-title{
    font-weight: bold;
    font-size: x-large;
}